/* Outer Container */
.outerContainer {
  background-color: white;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-size: cover; /* Cover the entire area if using background image */
}

/* Profile Container */
.profileContainer {
  max-width: 75% !important;
  padding: 1.5%; /* Add some padding */
  background-color: rgba(0, 0, 0, 0.1); /* Slight transparency */
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileBox {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Profile Header */
.profileHeader {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.profileDetails {
  text-align: center; /* Centers the text */
  margin-top: 20px;
  font-size: 15px !important;
}


/* Profile Details Strong */
.profileDetails strong {
  font-weight: bold;
  margin-right: 5px;
  font-size: 15px !important;
}

/* Logout Button Container */
.logoutButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Titles used within the Profile Section */
.profileTitle, .keyTitle {
  font-size: 20px !important;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
